/*
 *= require_self
 */

#main .panel-title {
    margin-bottom: 0;
}

th.sortable.sorted a:after {
    display:inline-block;
    content: "\0000a0\002193";
}

th.sortable.sorted.desc a:after {
    content: "\0000a0\002191";
}